<div class="home-container">
  <h1 class="title" id="pageTitle">{{ title }}</h1>
  <p class="subtitle">{{ subTitle }}</p>
  <button
    *ngIf="!active"
    class="btn btn-primary glow-on-hover"
    (click)="insertName(true)"
    aria-labelledby="pageTitle"
  >
    Começar o Jogo
  </button>

  <form *ngIf="active" [formGroup]="playerNameForm" (ngSubmit)="startGame()">
    <div class="form-group">
      <label for="playerName" class="form-label">Seu Nome</label>
      <input
        type="text"
        id="playerName"
        class="form-control"
        formControlName="playerName"
        placeholder="Informe seu nome"
        aria-labelledby="playerNameLabel"
        required
      />
    </div>
    <div class="form-group">
      <label for="quantQuestions" class="form-label"
        >Quantidade de Perguntas</label
      >
      <input
        id="quantQuestions"
        type="number"
        class="form-control"
        formControlName="quantQuestions"
        placeholder="Informe a quantidade de perguntas"
        aria-labelledby="quantQuestionsLabel"
        required
      />
    </div>
    <div class="form-group">
      <label for="inputState" class="form-label">Categoria de Perguntas</label>
      <select
        id="inputState"
        class="form-select"
        formControlName="category"
        aria-labelledby="categoryLabel"
        required
      >
        <option value="1" selected>Select Category</option>
        <option *ngFor="let category of categoryObj" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="dificult" class="form-label">Dificuldade das Perguntas</label>
      <select
        id="dificult"
        class="form-select"
        formControlName="dificult"
        aria-labelledby="dificultLabel"
        required
      >
        <option value="1" selected>Select Dificult</option>
        <option *ngFor="let dificult of dificultObj">
          {{ dificult }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      [disabled]="playerNameForm.invalid"
      class="btn btn-primary glow-on-hover start-game"
      aria-labelledby="startGameLabel"
    >
      Iniciar Jogo
    </button>
  </form>
</div>
