<div class="home-container">
  <h1 class="title">{{ title }}</h1>
  <p class="subtitle">{{ subTitle }}</p>
  <button
    *ngIf="!active"
    class="btn btn-primary glow-on-hover"
    (click)="insertName(true)"
  >
    Começar o Jogo
  </button>

  <form *ngIf="active" [formGroup]="playerNameForm" (ngSubmit)="startGame()">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="playerName"
        placeholder="Enter your name"
      />
    </div>
    <div class="form-group">
      <!-- <label>Type questions</label>
      <select
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
        formControlName="category"
      >
        <option selected>Select types</option>
        <option *ngFor="let category of categoryObj" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select> -->
      <label for="inputState" class="form-label">Type Questions</label>
      <select id="inputState" class="form-select" formControlName="category">
        <option value="1" disabled selected hidden>
          Selecione uma categoria
        </option>
        <option *ngFor="let category of categoryObj" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      [disabled]="playerNameForm.invalid"
      class="btn btn-primary glow-on-hover start-game"
    >
      Start Game
    </button>
  </form>
</div>
