<div class="background">
  <div class="container">
    <div class="timer-container">
      <p class="timer">{{ timerValue | timerFormat }}</p>
      <div class="buttons">
        <button (click)="pauseTimer()">
          <i class="fas fa-pause"></i>
          <!-- Ícone de Pause -->
        </button>
        <button (click)="startTimer()">
          <i class="fas fa-play"></i>
          <!-- Ícone de Play -->
        </button>
      </div>
    </div>

    <div class="card custom-card mt-4">
      <div class="card-body">
        <h2 class="card-title">Pergunta {{ currentQuestionIndex + 1 }}</h2>
        <p class="card-text question-text">{{ question?.question }}</p>
        <form [formGroup]="answerForm" (ngSubmit)="submitAnswer()">
          <div class="options">
            <label
              *ngFor="let option of question?.options; let i = index"
              class="d-block option-label"
            >
              <div
                class="option"
                [ngClass]="{
                  selected:
                    answerForm.get('answer')?.value === option && !showFeedback,
                  correct:
                    showFeedback &&
                    quizService.checkAnswer(option, question.answer),
                  incorrect:
                    showFeedback &&
                    answerForm.get('answer')?.value === option &&
                    !quizService.checkAnswer(option, question.answer),
                  disabled: showFeedback
                }"
                (click)="selectOption(option)"
              >
                {{ option }}
              </div>
            </label>
          </div>
          <!-- Botão "Responder" -->
          <button
            *ngIf="!showFeedback && !showResultsButton"
            type="submit"
            class="btn btn-primary mt-3"
            [disabled]="isOptionSelected()"
          >
            Responder
          </button>

          <!-- Botão "Próxima Pergunta" -->
          <button
            *ngIf="
              this.timerValue > 0 &&
              showFeedback &&
              quizService.hasNextQuestion(currentQuestionIndex) &&
              !showResultsButton
            "
            class="btn btn-secondary mt-3"
            (click)="nextQuestion()"
          >
            Próxima Pergunta
          </button>

          <!-- Botão "Mostrar Resultados" -->
          <button
            *ngIf="
              this.timerValue < 0 ||
              showResultsButton ||
              (showFeedback &&
                !quizService.hasNextQuestion(currentQuestionIndex))
            "
            class="btn btn-secondary mt-3"
            [disabled]="showResultsButton"
            (click)="showResults()"
          >
            Mostrar Resultados
          </button>
          <button
            *ngIf="showTimeoutModal"
            type="button"
            class="btn btn-primary"
            (click)="openModal(modalContent)"
          >
            Abrir Modal
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Conteúdo do Modal -->
<ng-template #modalContent>
  <div class="custom-modal">
    <div class="modal-content">
      <h5 class="modal-title">GAME OVER</h5>
      <div class="animation-container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <p class="animated-text">Você atingiu o tempo limite.</p>
      <button type="button" class="btn btn-primary" (click)="showResults()">
        Mostrar Resultados
      </button>
    </div>
  </div>
</ng-template>
