/* Estilos para elementos gerais */
.background {
  background-image: url("../../../assets/images/quiz-question.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.custom-card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.question-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #ff6f61;
  border-color: #ff4d4d;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.text-success {
  color: #28a745;
  font-weight: bold;
}

.text-danger {
  color: #dc3545;
  font-weight: bold;
}

.option-label {
  margin-bottom: 10px;
}

.option {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background-color: #abc3e3;
}

.correct {
  background-color: #6ddc6d;
}

.incorrect {
  background-color: #ff5a5a;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.feedback {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.show-results-button {
  margin-top: 10px;
}

/* Estilos para o timer.component.css */
.timer {
  text-align: center;
  margin: 20px;
}

.timer div {
  font-size: 2em;
}

.timer button {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff4d4d;
  }
}

/* Estilos personalizados para o modal */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  z-index: 1; /* Coloca o modal acima de outros elementos */
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  position: relative;
  animation-name: slide-in; /* Nome da animação */
  animation-duration: 0.5s; /* Duração da animação */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #ff6f61;
  border-radius: 50%;
  margin: 0 10px;
  animation: bounce 1s infinite alternate;
}

.animated-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #ff4d4d;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ff6f61;
  }
}

/* Animação de entrada (slide-in) */
@keyframes slide-in {
  from {
    top: -100%; /* Inicia fora da tela */
  }
  to {
    top: 0; /* Termina centralizado verticalmente */
  }
}

/* Animação dos círculos */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
