.background {
  background-image: url("../../../assets/images/quiz-question.jpg"); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.custom-card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.question-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.text-success {
  color: #28a745;
  font-weight: bold;
}

.text-danger {
  color: #dc3545;
  font-weight: bold;
}

.option-label {
  margin-bottom: 10px;
}

.option {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background-color: #abc3e3; /* Cor de fundo para opção selecionada */
}

.correct {
  background-color: #6ddc6d; /* Cor de fundo para opção correta */
}

.incorrect {
  background-color: #ff5a5a; /* Cor de fundo para opção incorreta */
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.feedback {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.text-success {
  background-color: #6ddc6d; /* Cor de fundo para feedback de resposta correta */
}

.text-danger {
  background-color: #ff5a5a; /* Cor de fundo para feedback de resposta incorreta */
}

.show-results-button {
  margin-top: 10px;
}

/* timer.component.css */
.timer {
  text-align: center;
  margin: 20px;
}

.timer div {
  font-size: 2em;
}

.timer button {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
